/* .card {
    cursor: pointer;
    background: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 2rem ;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    width: 300px; 
    height: 200px; 
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  
    
}


.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
}

.card_image {
    width: 100px;
    height: 100px;
}

.card_image img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    margin-top: 1rem;
}

.card_info h2 {
    margin-bottom: 10px;
    color: #333333;
}

.card_info h3 {
    color: #555555;
}
 */



 .card {
  margin:1rem;
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .info {
    flex: 1;
  }
  
  .name {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .email {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
  }
  
  .availability {
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .domain {
    font-size: 14px;
    color: #777;
  }
  
    
  .gender {
    font-size: 14px;
    color: #777;
  }
  