.filter-container {
    margin-bottom: 20px;
    display: grid;
  }
  
  .filter-option {
    margin-bottom: 10px;
  }
  
  .filter-option label {
    margin-right: 10px;
  }
  
  .filter-option select {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  